<h2 mat-dialog-title>Add/Edit Parent</h2>

<mat-dialog-content>
  
    <mat-card>
        
        <mat-card-content>
          <form class="form" (ngSubmit)="save(c)" #c="ngForm" >
          <mat-input-container class="col-sm-6">
            <input matInput placeholder="Name" id="name" [value]="parent?.name" name="name" ngModel required>
          </mat-input-container>
    
          
          <p>
            <mat-input-container class="col-sm-6">
              <textarea matInput placeholder="Address"  id="addressLine1" name="addressLine1" ngModel required></textarea>
            </mat-input-container>
    
            <mat-input-container class="col-sm-6">
                <textarea matInput placeholder="Place"  id="addressLine2" name="addressLine2" ngModel required></textarea>
              </mat-input-container>
    
              <mat-input-container class="col-sm-6">
                  <textarea matInput placeholder="Land Mark"  id="addressLine3" name="addressLine3" ngModel required></textarea>
                </mat-input-container>
          </p>
    
            <mat-input-container class="col-sm-6">
              <input matInput placeholder="phone" type="phone" id="phone" name="phone" ngModel required>
            </mat-input-container>
            <mat-input-container class="col-sm-6">
              <input matInput placeholder="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" id="email" name="email" ngModel required>
            </mat-input-container>
           
            <button class="mat-raised-button mat-primary" mat-raised-button type="submit" [disabled]="c.invalid">Add Parent</button>
          <br />
          
        </form>
      </mat-card-content>
      </mat-card>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button> -->
</mat-dialog-actions>