<img *ngIf="!authService.isAuthenticated()" class="img-responsive" src="../../../../assets/img/home.jpg">
<div *ngIf="!authService.isAuthenticated()" style="position: absolute;top:25%;left: 10%;background: url(../../../../assets/img/bglight.png) repeat center">
  <div style="margin-top: 10px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;font-family: Montserrat , arial;
  font-size: 40px;
  color: #fff;">WELCOME TO ICS IT EDUCATION</div>
<div style="line-height: 1.2;font-family: Montserrat , arial;
font-size: 40px;
color: #fff;">Committed to student success for over 10 years!</div>
</div>
<div *ngIf="authService.isAuthenticated()" class="contentCard">
    <div class="row">
        <div class="col-sm-4">
          <div class="tile purple" (click)="goto('students')">
            <h3 class="title">Students</h3>
            <p>Manage student details, add fee details, view parents</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tile red" (click)="goto('staffs')">
            <h3 class="title">Staffs</h3>
            <p>Manage staff details, add salary details</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tile orange" (click)="goto('branches')">
            <h3 class="title">Branches</h3>
            <p>Manage your branches of your institution</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="tile green" (click)="goto('courses')">
            <h3 class="title">Courses</h3>
            <p>Manage courses offered by your institution</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="tile blue" (click)="goto('admin-dashboard')">
            <h3 class="title">Dashboard</h3>
            <p>A comprehensive dashboard to view detailed reports, charts, accounts</p>
          </div>
          </div>

          <div class="col-sm-4">
              <div class="tile purple" (click)="goto('fee-dashboard')">
                <h3 class="title">Fee Dashboard</h3>
                <p>Dashboard specific to fee collection</p>
              </div>
              </div>
          </div>
          
        </div>