
<mat-card class="col-sm-11 mat-elevation-z8" style="margin: 1%" >
  <h4>Salaries</h4>
  <div class="example-container ">
    <mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data.amount}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> For Month </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data.month}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> For Year </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data.year}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Payed Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data.payedDate|date:'dd-MM-yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-card>