<div style="padding-left:2%;padding-right:2%">
<div id ="center" style="position:fixed;top:50%;left:50%;z-index:10">
<mat-progress-spinner *ngIf="loading"
        class="example-margin"
        color="primary"
        mode="indeterminate"
        >
    </mat-progress-spinner>
  </div>
 <h3 style="text-align:center">Students</h3>
<button style="float: right"  mat-raised-button class="mat-raised mat-primary" (click)="addStudent()">Add New Student</button>
<!-- <br><br><br><br>
<table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="cursor: pointer" class="row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngIf="students">
    <tr *ngFor="let person of students" >
      <td (click)="openStudent(person)">{{ person.data.name }}</td>
      <td (click)="openStudent(person)">{{ person.data.phone }}</td>
      <td (click)="openStudent(person)">{{ person.data.email }}</td>
      <td><button mat-raised-button class="mat-raised mat-primary" (click)="edit(person)">Edit</button></td>
      <td><button mat-raised-button class="mat-raised mat-warn" (click)="delete(person)">Delete</button></td>
    </tr>
  </tbody>
  </table> -->

  <my-table (delete)="delete($event)" (edit)="edit($event)" (rowSelected)="openStudent($event)"
  [columns]="tableColumns"
  [data]="tableData"
  ></my-table>
</div>