<div style="padding-left:2%;padding-right:2%">
<div *ngIf="!viewMode">
<h3 *ngIf="!updateMode" style="text-align:center">Add Staff</h3>
<h3 *ngIf="updateMode" style="text-align:center">Update Staff</h3>


      <form class="form row" [formGroup]="form">
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="name" placeholder="Name" type="text" [value]="course?.name" required>
        </mat-input-container>

         
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="salary" placeholder="salary" type="number" [value]="course?.salary"
            name="salary" ngModel required>
        </mat-input-container>


        <mat-input-container class="col-sm-6">
          <input matInput formControlName="contactNumber" placeholder="contactNumber" type="text" [value]="course?.contactNumber" required>
        </mat-input-container>

        <mat-input-container class="col-sm-6">
          <input matInput formControlName="email" placeholder="email" type="text" [value]="course?.email" required>
        </mat-input-container>

        <div class="col-sm-6">
            <branch-picker class="col-sm-6" [selectedValue]="course?.branch" (select)="branchSelected($event)" class="col-sm-6"> </branch-picker>
            <input type="hidden" placeholder="Branch Mark"  formControlName="branch" required>      
        </div>


        <mat-input-container class="col-sm-6">

          <input formControlName="joiningDate" matInput [matDatepicker]="picker1" placeholder="joiningDate" id="joiningDate" name="joiningDate"
            ngModel required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>

        </mat-input-container>

        <mat-input-container class="col-sm-6">

          <input formControlName="endDate" matInput [matDatepicker]="picker" placeholder="endDate" id="endDate" name="endDate"
            ngModel required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-input-container>

        <mat-form-field class="col-sm-6" >
            
              <mat-chip-list #chipList>
                <mat-chip color="accent" *ngFor="let skill of skills" [selectable]="selectable"
                         [removable]="removable" (remove)="remove(skill)">
                  {{skill}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add skills"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)" />
              </mat-chip-list>
            </mat-form-field>
  

        <mat-input-container class="col-sm-6">
          <textarea matInput formControlName="remarks" placeholder="remarks"  [value]="course?.remarks" ></textarea>
        </mat-input-container>

        <br />

      </form>
    



  <button class="mat-raised-button mat-primary" *ngIf="!updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Add Staff</button>
  <button class="mat-raised-button mat-primary" *ngIf="updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Update Staff</button>
  
</div>

<div *ngIf="viewMode">
  <mat-tab-group>
    <mat-tab label="Staff Details">
        <mat-card>

            <mat-card-content>
              <form class="form row" [formGroup]="form">
                <mat-input-container class="col-sm-6">
                  <input matInput formControlName="name" placeholder="Name" type="text" [value]="course?.name" required>
                </mat-input-container>
        
                 
                <mat-input-container class="col-sm-6">
                  <input matInput formControlName="salary" placeholder="salary" type="number" [value]="course?.salary"
                    name="salary" ngModel required>
                </mat-input-container>
        
        
                <mat-input-container class="col-sm-6">
                  <input matInput formControlName="contactNumber" placeholder="contactNumber" type="text" [value]="course?.contactNumber" required>
                </mat-input-container>
        
                <mat-input-container class="col-sm-6">
                  <input matInput formControlName="email" placeholder="email" type="text" [value]="course?.email" required>
                </mat-input-container>
        
               
        
        
                <mat-input-container class="col-sm-6">
        
                  <input formControlName="joiningDate" matInput [matDatepicker]="picker1" placeholder="joiningDate" id="joiningDate" name="joiningDate"
                    ngModel required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
        
                </mat-input-container>
        
                <mat-input-container class="col-sm-6">
        
                  <input formControlName="endDate" matInput [matDatepicker]="picker" placeholder="endDate" id="endDate" name="endDate"
                    ngModel required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
        
                </mat-input-container>

                <mat-form-field class="col-sm-6" >
            
                    <mat-chip-list #chipList>
                      <mat-chip [disabled]="true" color="accent" *ngFor="let skill of skills" [selectable]="selectable"
                               [removable]="removable" (remove)="remove(skill)">
                        {{skill}}
                        
                      </mat-chip>
                      <input placeholder="Add skills"
                             [matChipInputFor]="chipList"
                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                             [matChipInputAddOnBlur]="addOnBlur"
                             (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-list>
                  </mat-form-field>
        
                <mat-input-container class="col-sm-6">
                  <textarea matInput formControlName="remarks" placeholder="remarks"  [value]="course?.remarks" ></textarea>
                </mat-input-container>
        
                <br />
        
              </form>
            </mat-card-content>
          </mat-card>
        
      </mat-tab>
      

      <mat-tab label="Salary Details">
        
        <button class="mat-raised-button mat-primary"  mat-raised-button (click)="addSalary()" [disabled]="form.invalid">Add Salary</button>
        <salary-list [staffId]="courseId"></salary-list>
      </mat-tab>

      <mat-tab label="Attendance Details">
        
          <mat-card id="fee-details" class="col-sm-11 mat-elevation-z8" style="margin: 1%" >
              <mat-card-content>
                <table>
                  <tr>
                    <td>Total Classes : </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-form-field>
                    <input style="font-weight: bold;font-size: 2em" matInput disabled [value]="attendance?.total">
                    </mat-form-field>
                    </td>
                    <td>Total Attendance : </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-form-field>
                    <input style="font-weight: bold;font-size: 2em" matInput disabled [value]="attendance?.total - attendance?.abs">
                    </mat-form-field>
                    </td>
                    <td>Percentage : </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-form-field>
                    <input style="font-weight: bold;font-size: 2em" matInput disabled [value]="attendance?.percentage">
                    </mat-form-field>
                    </td>
                  </tr>
                </table>
                <span style="float: right;margin-right: 5%;" matTooltip="View Only Absentees" *ngIf="!viewOnlyAbs" (click)="viewAbs()"><mat-icon style="cursor: pointer;" >visibility_off</mat-icon></span>
                <span style="float: right;margin-right: 5%;" matTooltip="View All" *ngIf="viewOnlyAbs" (click)="viewAbs()"><mat-icon style="cursor: pointer;" >visibility</mat-icon></span>
                
                <div class="container" style="width:auto">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Attendance</th>
                          <th>Remark</th>
                        </tr>
                      </thead>
                      <tbody>
                          <ng-container *ngFor="let item of attendance.list" >
                        <tr *ngIf="viewOnlyAbs && !item.present || !viewOnlyAbs">
                          
                          <td>{{item.date}}</td>
                          <td>
                            <mat-checkbox disabled class="example-margin" [(ngModel)]="item.present"></mat-checkbox>
                              </td>
                              <td>
                                  <input  style="width:100px" class="form-control"  placeholder="Remarks" type="text" [(ngModel)]="item.remark" required>
                                  </td>
                                
                        </tr>
                      </ng-container>
                        </tbody>
                        </table>
                        </div>
              </mat-card-content>
          </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>
</div>
