<div style="padding-left:2%;padding-right:2%">
<h3 *ngIf="!updateMode" style="text-align:center">Add Branch</h3>
<h3 *ngIf="updateMode" style="text-align:center">Update Branch</h3>

      <form class="form row" [formGroup]="form">
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="branchName" placeholder="branchName" type="text" [value]="course?.branchName" required>
        </mat-input-container>

         
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="branchCode" placeholder="branchCode" type="string" [value]="course?.branchCode"
            name="branchCode" ngModel required>
        </mat-input-container>


        <mat-input-container class="col-sm-6">
          <input matInput formControlName="place" placeholder="place" type="text" [value]="course?.place" required>
        </mat-input-container>

        <mat-input-container class="col-sm-6">
          <input matInput formControlName="district" placeholder="Department Head Phone No." type="text" [value]="course?.district" required>
        </mat-input-container>

        <mat-input-container class="col-sm-6">
            <input matInput formControlName="postCode" placeholder="postCode" type="text" [value]="course?.postCode" required>
          </mat-input-container>
  
          <mat-input-container class="col-sm-6">
              <input matInput formControlName="emailAddress" placeholder="emailAddress" type="text" [value]="course?.emailAddress" required>
            </mat-input-container>
    

        <mat-input-container class="col-sm-6">
          <textarea matInput formControlName="address" placeholder="address"  [value]="course?.address" ></textarea>
        </mat-input-container>

        <br />

      </form>
  



  <button class="mat-raised-button mat-primary" *ngIf="!updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Add Branch</button>
  <button class="mat-raised-button mat-primary" *ngIf="updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Update Branch</button>
  
</div>