<admin-dashboard-top-cards></admin-dashboard-top-cards>
<div class="row col-sm-12">
<div class="cols-m-6">
 <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="false"
  [showYAxisLabel]="false"
  [showDataLabel]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> 
<!-- <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="false"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="true"
      [timeline]="true"
      (select)="onSelect($event)">
    </ngx-charts-line-chart> -->
</div>
<div>

  
</div>
<div class="cols-m-6">
<ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
      </ngx-datatable>
</div>
</div>