<div id ="center" style="position:fixed;top:50%;left:50%;z-index:10">
  <mat-progress-spinner *ngIf="loading"
          class="example-margin"
          color="primary"
          mode="indeterminate"
          >
      </mat-progress-spinner>
    </div>
    <mat-card>
  <h1>STUDENTS</h1>
  <button mat-raised-button class="mat-raised mat-primary" (click)="addCourse()">Add New Course</button>
  <br><br><br><br>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="cursor: pointer" class="row-border hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Course Code</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Fee</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of courses" >
        <td (click)="openStudent(person)">{{ person.data.name }}</td>
        <td (click)="openStudent(person)">{{ person.data.courseCode }}</td>
        <td (click)="openStudent(person)">{{ person.data.startDate }}</td>
        <td (click)="openStudent(person)">{{ person.data.endDate }}</td>
        <td (click)="openStudent(person)">{{ person.data.fee }}</td>
        <td><button mat-raised-button class="mat-raised mat-primary" (click)="edit(person)">Edit</button></td>
        <td><button mat-raised-button class="mat-raised mat-warn" (click)="delete(person)">Delete</button></td>
      </tr>
    </tbody>
    </table>
  </mat-card>