<h2>Add Course</h2>


  <mat-card>

    <mat-card-content>
      <form class="form row" [formGroup]="form">
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="name" placeholder="Name" type="text" [value]="course?.name" required>
        </mat-input-container>

        <mat-input-container class="col-sm-6">
          <input matInput formControlName="courseCode" placeholder="courseCode" type="text" [value]="course?.courseCode" required>
        </mat-input-container>

        
        <mat-input-container class="col-sm-6">
          <input matInput formControlName="feeAmount" placeholder="feeAmount" type="number" [value]="course?.feeAmount"
            name="feeAmount" ngModel required>
        </mat-input-container>



        <mat-input-container class="col-sm-6">

          <input formControlName="startDate" matInput [matDatepicker]="picker1" placeholder="startDate" id="startDate" name="startDate"
            ngModel required>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>

        </mat-input-container>

        <mat-input-container class="col-sm-6">

          <input formControlName="endDate" matInput [matDatepicker]="picker" placeholder="endDate" id="endDate" name="endDate"
            ngModel required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-input-container>

        <div class="col-sm-6">
            <branch-picker class="col-sm-6" [selectedValue]="course?.branch" (select)="branchSelected($event)" class="col-sm-6"> </branch-picker>
            <input type="hidden" placeholder="Branch Mark"  formControlName="branch" required>      
        </div>
        
        <mat-input-container class="col-sm-6">
          <textarea matInput formControlName="description" placeholder="description"  [value]="course?.description" ></textarea>
        </mat-input-container>

        <br />

      </form>
    </mat-card-content>
  </mat-card>




  <button class="mat-raised-button mat-primary" *ngIf="!updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Add Course</button>
  <button class="mat-raised-button mat-primary" *ngIf="updateMode" mat-raised-button (click)="save()" [disabled]="form.invalid">Update Course</button>
  <button class="mat-raised-button" (click)="close()">Close</button>
