<div id ="center" style="position:fixed;top:50%;left:50%;z-index:10">
        <mat-progress-spinner *ngIf="loading"
                class="example-margin"
                color="accent"
                mode="indeterminate"
                >
            </mat-progress-spinner>
          </div>
    
<!-- 
<div class="col-sm-3 mat-elevation-z8" style="margin: 1%">
    <mat-card>
        <mat-card-content>
            <h3>Total Students</h3>
            <h1>{{summary?.totalStudents}}</h1>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-sm-3 mat-elevation-z8" style="margin: 1%">
    <mat-card>
        <mat-card-content>
            <h3>Total Fee</h3>
            <h1>{{summary?.totalFee}}</h1>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-sm-3 mat-elevation-z8" style="margin: 1%">
    <mat-card>
        <mat-card-content>
            <h3>Total Fee Paid</h3>
            <h1>{{summary?.totalFeePaid}}</h1>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-sm-3 mat-elevation-z8" style="margin: 1%">
    <mat-card>
        <mat-card-content>
            <h3>Fee info available</h3>
            <h1>{{summary?.feeAvailableFor}}</h1>
        </mat-card-content>
    </mat-card>
</div>

<div class="col-sm-3 mat-elevation-z8" style="margin: 1%">
    <mat-card>
        <mat-card-content>
            <h3>No Fee Info Available</h3>
            <h1>{{summary?.noFeeInfoAvailable}}</h1>
        </mat-card-content>
    </mat-card>
</div> --> 

<div class="col-sm-12">
    <div>
<ngx-charts-number-card textColor="white"
        [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      (select)="onSelect($event)">
    </ngx-charts-number-card>
</div>
</div>
<div class="col-sm-12">
<div class="col-sm-6">
<fee-monthly-trend></fee-monthly-trend>
</div>
<div class="col-sm-6">
        <h4> Monthwise Payments</h4>
    <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="40"
        [summaryRow]="true"
        [summaryPosition]="'bottom'"
        [footerHeight]="40"
        [limit]="10"
        [rowHeight]="'auto'"
        [reorderable]="reorderable">
      </ngx-datatable>


      
</div>
</div>
<div class="col-sm-6">
    <h4>Current Month Payments</h4>
    <ngx-datatable
    class="bootstrap"
    [rows]="studentFeeRows"
    [loadingIndicator]="loadingIndicator"
    [columns]="studentFeeColumns"
    [columnMode]="'force'"
    [headerHeight]="40"
    [summaryRow]="true"
    [summaryPosition]="'bottom'"
    [footerHeight]="40"
    [limit]="10"
    [rowHeight]="'auto'"
    [reorderable]="reorderable">
  </ngx-datatable>
</div>
    